/Library/
/Temp/
/obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
/Recordings/
/Assembly-CSharp*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
/Assets/AssetStoreTools*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
